<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/users/<%= user._id %>/calc/new">Add a New Record</a>
    <h1>Your apps</h1>
    <ul>
      <% calc.forEach(record => { %>
    <li>
      <a href="/users/<%= user._id %>/calc/<%= record._id %>">
        <%= record.Name %>
      </a>  
    </li>
  <% }) %>    
    </ul>
    
</body>
</html>