<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
     <a href="/users/<%=user._id%>/calc/new">Add an App</a>
    <a href="/users/<%=user._id%>/calc">Your Apps</a>
    
    
    <h1>Your apps</h1>
</body>
</html>